<div class="container  my-5">
    <div class="card col-md-9 mx-auto p-5 ">
    <div class="card-body">
    <h1 class=" fw-5">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium in fugiat quas atque vel enim officiis consequatur dolores doloribus officia.</p>
    </div>
    </div>
</div>