<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.style.css">
    <title>Pagina de ejemplo</title>
</head>
<body>
    <div class="head">
        {{!-- <nav>
            <a href="/">Inicio</a>
            <a href="/acerca">Acerca de nosotros</a>
            <a href="/ayuda">Ayuda</a>
            <a href="/contacto">Contactenos</a>
        </nav> --}}
        <section class="Textos-header">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <h2>Lorem ipsum dolor sit.</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C126.12,209.72 356.94,-55.73 514.39,37.02 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </div>  
    <main>
        <section class="contenedor-t">
            <h2>Nuestro producto</h2>
            <div class="contenedor">
                <img src="https://s1.1zoom.me/big0/285/Lions_Painting_Art_White_background_517688_1280x801.jpg" alt="">
                <div class="contenido">
                    <div class="cont">
                        <h3><span>1</span> Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, nulla. Lorem, ipsum dolor sit amet consectetur adipisicing elit. A soluta, itaque ducimus laudantium quas qui nisi. Quaerat laborum est aperiam provident quidem ut numquam et nisi iusto, placeat ad reiciendis.</p>
                    </div>
                    <div class="cont">
                        <h3><span>2</span> Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aspernatur nisi voluptatibus vitae libero quia!</p>
                    </div>
                </div>       
            </div>
        </section>
        <section class="contenedor-t portafolio">
            <h2>Portafolio</h2>
            <div class="contenedor-port">
                <div class="imagen">
                    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="">
                </div>
                <div class="imagen">
                    <img src="https://www.cambio16.com/wp-content/uploads/2017/04/fotos-impresionantes-imagenes-que-parecen-modificadas-con-photoshop-11.jpeg" alt="">
                </div>
                <div class="imagen">
                    <img src="https://www.rdstation.com/blog/wp-content/uploads/sites/2/2017/09/Banco-de-im%C3%A1genes-6.png" alt="">
                </div>
                <div class="imagen">
                    <img src="https://cdn.shopify.com/s/files/1/0229/0839/files/bancos_de_imagenes_gratis.jpg?v=1630420628" alt="">
                </div>
                <div class="imagen">
                    <img src="https://static1.diariosur.es/www/multimedia/201909/30/media/cortadas/imagensensible-kYzD-U90285421336FWD-624x385@Diario%20Sur.jpg" alt="">
                </div>
                <div class="imagen">
                    <img src="https://conceptodefinicion.de/wp-content/uploads/2014/05/Imagen-2.jpg" alt="">
                </div>
                <div class="imagen">
                    <img src="https://ximagen.com/images/2019/03/10/imagenes-bonitas.jpg" alt="">
                </div>
                <div class="imagen">
                    <img src="https://i.pinimg.com/originals/9a/d6/b7/9ad6b711b3deffa630889706099647ba.jpg" alt="">
                </div>              
            </div>
        </section>
        <section class="contenedor-t clientes">
            <h2>Que dicen nuestros clientes</h2>
            <div class="cuadro-clientes">
                <div class="comentarios-cont">
                    <img src="https://sm.ign.com/ign_es/tag/a/alien-1/alien-1_k68c.jpg" alt="">
                    <div class="opiniones">
                        <h3>Alien</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore natus expedita dolorem a molestiae quibusdam?</p>
                    </div>
                </div>
                <div class="comentarios-cont">
                    <img src="https://www.rockandpop.cl/wp-content/uploads/2019/02/Depredador-400x340.jpg" alt="">
                    <div class="opiniones">
                        <h3>Depredador</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore natus expedita dolorem a molestiae quibusdam?</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="contenedor-t servicios">
            <h2>Nuestros servicios</h2>
            <div class="servicios-cont">
                <div class="serv-item">
                    <img src="https://developer.si2soluciones.es/wp-content/uploads/2018/11/undraw_working_remotely_jh40.png" alt="">
                    <div class="textos">
                        <h3>Name</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius doloribus debitis assumenda corrupti fuga facere?</p>
                    </div>
                </div>
                <div class="serv-item">
                    <img src="https://www.insitusales.com/wp-content/uploads/2019/12/undraw_business_deal_cpi9-1232x915.png" alt="">
                    <div class="textos">
                        <h3>Name</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius doloribus debitis assumenda corrupti fuga facere?</p>
                    </div>
                </div>
                <div class="serv-item">
                    <img src="https://miro.medium.com/max/1400/1*XX2X4OtFiQTdYV3OtIlAIg.png" alt="">
                    <div class="textos">
                        <h3>Name</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius doloribus debitis assumenda corrupti fuga facere?</p>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="datos">
                <div class="dato">
                    <span class="n">Phone</span>
                    <span>82912345</span>
                </div>
                <div class="dato">
                    <span class="n">Email</span>
                    <span>82912345</span>
                </div>
                <div class="dato">
                    <span class="n">Whatsapp</span>
                    <span>82912345</span>
                </div>
            </div>
            <div class="Nombre">Carlos Daniel | Software Engineer XD</div>
        </footer>
    </main>
</body>
</html>