    
    <div class="container p-5 my-5 bg-dark rounded-3 text-white col-md-6">
        <h2 class="display-6">Crud con nodejs y mongodb</h2>
        <div class="">
        <p>Visita nuestra pagina web hecha con bootstrap, nodejs y mongodb </p>
        <a href="/" class="btn btn-outline-light">Ir a ver</a>
        </div>
    </div>